*{

	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: cursive;
}
.logo a {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}
.logo a span{

	color: black;
}
body{
	
}

.navbar{
	width: 100%;
	background-color: purple;
	position: fixed;
	text-align: center;
	animation-name: change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	margin-top: -200px;
	

	
}
@keyframes change{
	from{background-color:#33637E}
	to{background-color:#66C5FC}

}
body{
    
	}
.navbar .max-width{
	width: 1300px;
	display: flex;
	justify-content: space-between;
	width: 1300px;
	display: flex;	
	margin: 0px auto;
	color: red;
}.menu{
	padding-top: 10px;
}
.menu li{
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.menu li a{

	color: black;
	font-size: 20px;
	font-weight: 200;
	margin-left: 25px;
	transition: color 2s;


}
.menu li a:hover{
	color: black; 
}
.souservice{
	display: none;
	position: absolute;
    color: black;

}
.menu li:hover .souservice{
	display: block;
}
.souservice li{
	width: 90%;
	text-align: center;
	background-color: #60A1DB;
	color: black;
	border: 2px solid #bdc3c7;
}
*{box-sizing:border-box}

ul {padding: 0;list-style-type: none;margin:0}

/*diapo*/
.nom_de_votre_class{
	
margin-top: 200px;
	
	}

.exemple-cube {
	
position: relative; 
top: 0;
left: 0;	
display: flex;
justify-content: space-around;

	
}

.liste {
	
width: 100px;
height: 100px;
position: relative;
z-index:1;
cursor: pointer
	
}

	
.liste:focus-within img {opacity:.3}

.liste img {
	
width: 100px;
height: 100px;
position: absolute;
left: 0;
top: 0;
will-change: opacity;
border: .25rem solid;
transition: opacity .3s;
object-fit: cover
	
}

.cadre-cube {
	
width: 600px;
height: 600px;
position: absolute;
top: 80px;
left: 50%;
transform: translateX(-50%);
perspective: 600px
	
	}

.cube {
	
width: 600px;
height: 600px;
position: absolute;
top: 0;
left: 0;
transform-style: preserve-3d;
transform: translateZ(-600px);
will-change: transform;
transition: transform 2s
	
}

.cube span {
	
width: 600px;
height: 600px;
position: absolute;
top: 0;
left: 0;

}

.devant {

transform:rotateX(0) translateZ(300px)
	
}

.derriere {

transform: rotateX(180deg) translateZ(300px)
	
}

.droite {

transform: rotateX(90deg) translateZ(300px)
	
}

.gauche {
	
transform: rotateX(-90deg) translateZ(300px)
	
}

.dessus {

transform: rotateY(-90deg) translateZ(300px)
	
}

.dessous {

transform: rotateY(90deg) translateZ(300px);
	
}

.cube img {
	
width: 100%;
height: 100%;
outline: 1px solid transparent;
border:.5rem solid;
position: absolute;
left: 0;
top: 0;
object-fit: cover
	
}

.exemple-cube .liste:focus-within ~ .cadre-cube .cube {
	
will-change: transform;
transition: transform 1s
	
}
	

.un:focus-within ~ .cadre-cube .cube {
	
transform: translateZ(-600px) rotateY(0)
	
}
	
.deux:focus-within ~ .cadre-cube .cube {
	
transform: translateZ(-600px) rotateX(-180deg)
	
}

.trois:focus-within ~ .cadre-cube .cube {
	
transform: translateZ(-600px) rotateX(-90deg)
}

.quatre:focus-within ~ .cadre-cube .cube {
	
transform: translateZ(-600px) rotateX(90deg)
	
}

.cinq:focus-within ~ .cadre-cube .cube {
	
transform: translateZ(-600px) rotateY(90deg)
	
}

.six:focus-within ~ .cadre-cube .cube {
	
transform: translateZ(-600px) rotateY(-90deg)
	
}
.pagee1{
	height: 700px;
	background:url('meeting-1020145_1920.jpg')no-repeat fixed 50% 50%;
	display: flex;
	background-size:cover;
}
.pagee11{
	height: 700px;
	background:url('meeting-1020145_1920.jpg')no-repeat fixed 50% 50%;
	display: flex;
	background-size:cover;
	margin-top: 300px;
}
.footer{
	height: 400px;
	display: flex;
	padding-top: 90px;
	background-color: pink;
	animation-name: change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	text-align: center;
	


}
.child1-left{
    width: 20%;
    height:250px;
    margin: 10px 10px 10px 10px;
    text-align: center;

}
.child1-left span{
	font-size: 40px;
	color:white;

	}
.child1-left .icone{
	font-size: 30px;
	margin-top: 50px;
	margin-right: 150px;

	}
	.child1-left .navi{
font-size: 30px;
margin: 10px 10px;
}
.child1-right{

	width: 20%;
    height:250px;
    text-align: center;

}

.child1-right span{
	font-size: 40px;
	color:white;

	}
.child1-right .tweets{
	font-size: 180px;
	margin-top: -50px;
} 
.child1-right .tweet{
	font-size: 80px;
	margin-top: -80px;
	margin-right: -120px;

} 


	
	
.child1-center{

	width: 20%;
    height:250px;
   
     margin: 10px 10px;
    text-align: center;
}
.child1-center img{
height: 200px;
	width: 280px;
	margin-top: 20px;
	
}
.child1-center span{
	font-size: 40px;
	color:white;

	}
.child2-center{

	width: 20%;
    height:250px;
    font-size: 20 
     margin: 10px 10px;
    text-align: center;
}
.child2-center span{
	font-size: 40px;
	color:white;

	}
.child1-right p{
	background-color: gray;
	color:white;
	}
	.kine{
	background: black;
	color: white;
	width:100%;
	margin-top: 0px;
	height: 30px;
	text-align: center;
	padding-top: 10px;

}
.kine span{
	color:#60A1DB;
	
}


